<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href= '#' class="navbar-brand">U.S.A.C.M</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Forum', posts_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to 'Buy USA Citizenship', products_path %></li>
          <li><%= link_to 'Sell USA Citizenship', new_product_path %></li>
          <li><a href="/buyer_dashboard">Buyer Dashboard</a></li>
          <li><a href="/seller_dashboard">Seller Dashboard</a></li>
        <% else %>
        <% end %>

      </ul>
      <ul class="nav navbar-nav navbar-right">

<!-- user sign up / sign in / sign out -->
      <% if user_signed_in? %>
        <li>
          <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
        </li>
        <li>
          <%= link_to(current_user.email, edit_user_registration_path) %>
        </li>
      <% else %>
        <li>
          <%= link_to('Login', new_user_session_path)  %>
        </li>
        <li>
          <%= link_to('Sign Up', new_user_registration_path)  %>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
</nav>
