<nav class="navbar navbar-transparent">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">MyWebsiteName</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Forum', posts_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to 'Sell Your USA Citizenship', new_product_path %></li>
        <% else %>
        <% end %>
        <li><a href="#">Page 3</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">

<!-- user sign up / sign in / sign out -->
      <% if user_signed_in? %>
        <li>
          <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
        </li>
        <li>
        <%= image_tag(Gravatar.new(current_user.email).image_url, size: "40") %>
      </li> 
        <li>
          <%= link_to(current_user.email, edit_user_registration_path) %>
        </li>
      <% else %>
        <li>
          <%= link_to('Login', new_user_session_path)  %>
        </li>
        <li>
          <%= link_to('Register', new_user_registration_path)  %>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
</nav>
