<h1>Admin Dashboard</h1>

<!-- add user who booked a booking -->

<h3>My Bookings</h3>

<table class="table">
  <thead>
    <tr>
      <th>Cost ($USD)</th>
      <th>Product ID</th>
      <th>User ID</th>
      <th>Number</th>
      <th>Approved?</th>
    </tr>
  </thead>
  <tbody>
		<% @products.each do |product| %>
			<% product.bookings.each do |booking| %>
				<tr>
          <td><%= number_to_currency(booking.product.price) %></td>
	        <td><%= booking.product_id %></td>
	        <td><%= booking.user_id %></td>
	        <td><%= booking.number %></td>
	        <td><%= yes_no(booking.approved) %></td>
	        <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
	      </tr>
			<% end %>
		<% end %>
  </tbody>
</table>
