
<h1>Customer Dashboard</h1>

<h3>Ready for Payment</h3>

<table class="table">
	<thead>
		<tr>
			<th>Number</th>
			<th>Price</th>
			<th>Title</th>
			<th>Pay</th>
		</tr>
	</thead>
	<tbody>
		<% @approved_bookings.each do |booking| %>
			<tr>
				<td><%= booking.number %></td>
				<td><%= number_to_currency(booking.product.price) %></td>
				<td><%= booking.product.title %></td>
				<td><%= render 'partials/stripe', booking: booking %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<h3>Already Paid</h3>

<table class="table">
	<thead>
		<tr>
			<th>Number</th>
			<th>Price</th>
			<th>Title</th>
		</tr>
	</thead>
	<tbody>
		<% @paid_bookings.each do |booking| %>
			<tr>
				<td><%= booking.number %></td>
				<td><%= number_to_currency(booking.product.price) %></td>
				<td><%= booking.product.title %></td>
				<td><%= render 'partials/stripe' %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<h3>Pending Approval</h3>

<table class="table">
	<thead>
		<tr>
			<th>Number</th>
			<th>Price</th>
			<th>Title</th>
		</tr>
	</thead>
	<tbody>
		<% @pending_bookings.each do |booking| %>
			<tr>
				<td><%= booking.number %></td>
				<td><%= number_to_currency(booking.product.price) %></td>
				<td><%= booking.product.title %></td>
				<td>You will be able to make payment once approval granted</td>
			</tr>
		<% end %>
	</tbody>
</table>
