<div class="registration-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="log-in panel">
          <div class="panel-heading">

<h1>Sellers Dashboard</h1>

<!-- add user who booked a booking -->

<h3>My Sales</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Cost ($USD)</th>
      <th>Product</th>
      <th>User Email</th>
      <th># of Units</th>
      <th>Approved?</th>
    </tr>
  </thead>
  <tbody>
		<% @products.each do |product| %>
			<% product.bookings.each do |booking| %>
				<tr>
          <td><%= number_to_currency(booking.product.price) %></td>
	        <td><%= booking.product.title %></td>
	        <td><%= booking.user.email %></td>
	        <td><%= booking.number %></td>
	        <td><%= yes_no(booking.approved) %></td>
	        <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
	      </tr>
			<% end %>
		<% end %>
  </tbody>
</table>

            </div>
          </div>
        </div>
      </div>
    </div>
</div>
